---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          <div>
            <h3>Collaborators</h3>
            <ul>
            <p>
            <a target="_blank" href="https://scholar.google.com/citations?user=yuB-cfoAAAAJ&hl=zh-CN">张祥雨(Xiangyu Zhang)</a>,
            <a target="_blank" href="https://www.zemingli.com/">黎泽明(Zeming Li)</a>,
            <a target="_blank" href="https://scholar.google.com/citations?user=hJ-VrrIAAAAJ">葛政(Zheng Ge)</a>,
            <a target="_blank" href="https://scholar.google.com/citations?hl=zh-CN&user=xY9qK1QAAAAJ">刘松涛(Songtao Liu)</a>
            </p>
            </ul>
          </div>
          <div>
            <h4>Reviewer</h4>
            <ul>
            <p>
            <a><b>Computer Vision Conference: </b></a>
            <a>CVPR</a>,
            <a>ICCV</a>,
            <a>ECCV</a><br />
            <a><b>Machine Learning Conference: </b></a>
            <a>NeurIPS</a>
            <a>AAAI</a><br />
            <a><b>Robotics Conference: </b></a>
            <a>IROS</a><br />
            <a><b>Journal: </b></a>
            <a>TCSVT</a>,
            <a>TMM</a>,
            <a>PRL</a>,
            <a>IET CV</a>
            </p>
            </ul>
          </div>
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
